

body {
  background-image: linear-gradient(45deg, rgba(179, 179, 179, 0.687), midnightblue );
  color: midnightblue;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 50vh;
  background-image: linear-gradient(45deg, orchid, white);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.form-1 {
  padding: 2rem;
  margin: 1rem;
  max-width: 50%;
  background-image: linear-gradient(45deg, orchid, white);
}

.spacing {
  padding: .5rem;
  margin: 1rem;
}

button { 
  width: 8rem;
  height: 4rem;
  display: block;
  margin: auto;
}

.question {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.answer {
  display: block;
  max-width: 10rem;
  margin:auto
}