

body {
  background-image: linear-gradient(45deg, rgba(179, 179, 179, 0.687), midnightblue );
  color: midnightblue;
  font-family: 'Poppins', sans-serif;
}
.header {
  min-height: 50vh;
  background-image: linear-gradient(45deg, orchid, white);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.container1 {
  display: flex;
}
.form-1 {
  min-width: 40vw;
  background-image: linear-gradient(45deg, orchid, white);
}
.bob {
  opacity: 0.80;
  object-fit: fill;
  display: block;
}
.result {
  max-width: 60vw;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, orchid, white);
}
.result h2, p{
  text-align: center;
  justify-content: center;
  padding: 1rem;
}
.result h2 {
  font-size: 5rem;
}


.result-img {
  object-fit: fill;
  min-width: 40vw;
}
.spacing {
  padding: .5rem;
  margin: 1rem;
}
button { 
  width: 8rem;
  height: 4rem;
  display: block;
  margin: auto;
}
.question {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}
.drag-name {
  font-size: 2.5rem;
}
.answer {
  display: block;
  max-width: 10rem;
  margin:auto
}
#lang-1 {
display: none;
}
#lang-2 {
  display: none;
}
#lang-3 {
  display: none;
}
